*{
    margin:0;
    padding: 0;
}
  
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*清除浮动代码*/
.clearfloat:after{
    display:block;
    clear:both;content:"";
    visibility:hidden;
    height:0;
}
.clearfloat{zoom:1}